.auth-window {
    padding: 0;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.auth-menu {
    background-color: white;
    /* background-color: rgb(245, 245, 245); */
    /* box-shadow:
        inset 0 0 4px rgba(255, 255, 255, 0.5),
        inset 0 0 4px rgba(255, 255, 255, 0.5),
        inset 0 0 4px rgb(255, 255, 255),
        inset 0 0 4px rgb(255, 255, 255);
    border-radius: 2%; */

}

.border-left {
    border-left: 1px solid rgb(245, 245, 245);
}

.border-right {
    border-right: 1px solid rgb(245, 245, 245);
}

@media screen and (max-width: 575.9px) {
    .border-left {
        border: none;
    }

    .border-right {
        border: none;
    }
}

.auth-element {
    height: 60vh;
}

.exception {
    color: brown;
}

.toggle-auth-container {
    text-align: center;
    margin-top: 5px;
    /* Располагается сразу под кнопкой отправки */
}

.toggle-auth-text {
    font-size: 0.9rem;
    color: #1a73e8;
    text-decoration: none;
    /* Убираем подчёркивание */
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    transition: color 0.3s ease;
}

.toggle-auth-text:hover {
    text-decoration: none;
    color: #0c55bb;
}