.chat-screen {
    width: 100vw;
    height: 100vh;
}

.header {
    padding: 0px;
    margin: 0px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 1px 0px 0px rgba(34, 60, 80, 0.2) inset;
    width: 100vw;
    height: 7.5vh;
}

.chat {
    padding: 1%;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 3px 0px rgba(34, 60, 80, 0.2) inset, 0px -2px 3px 0px rgba(34, 60, 80, 0.2) inset;
    width: 100vw;
    height: 87.5vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.input {
    padding: 1%;
    margin: 0px;
    background-color: rgb(245, 245, 245);
    width: 100vw;
    height: 5vh;
}

.user-logout-button {
    width: 20vw;
    height: 80%;
    border: none;
    background-color: rgb(245, 245, 245);
    text-decoration: none;
}

.border-left {
    border-left: 1px solid rgb(225, 225, 225);
}

.chat-input {
    border: 1px solid #a9a9a9;
}

.send-message-button {
    border: none;
    background-color: deepskyblue;
    border: 1px solid deepskyblue;
}

.message {
    height: auto;
    min-height: 10vh;
    cursor: pointer;
}

.message.my {
    background-color: rgb(210, 230, 250);
}

.message.others {
    background-color: rgb(245, 240, 230);
}

.edit-message-buttons {
    border: 1px solid rgba(200, 220, 240, 1);
    height: 5vh;
}

.message-abort-editing-button {
    border: none;
    background-color: deepskyblue;
    border: 1px solid deepskyblue;
    width: 3.75vh;
    height: 3.75vh;
}

.message-secondary-text {
    color: rgb(120, 120, 120);
}